examples_from_video/Parse_TG_main.json
{
  "name": "Parse TG main",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Ты умный агент\n\nСегодня вот такая дата - {{ $now }}\n\nУ тебя осноыной инструмент для формирования ответов это \"open and close tg\".\n\nВсегда отвечай только на основании этого инструментов.\n\nВсегда после вопроса пользователя, отправляй сообщение с помощью инструмента - \"telegram tool\" о том, что ты начал процесс и скоро будет ответ.\n\n\n## 1 Инструмент - \"open and close tg\"\n\nИспользуй его, когда нужно для ответа спарсить данные за любую дату из указанного канала.\n\nID канала для парсинга - 1383728009\n\nОбязательно отправляй в этот инструмент id канала и сформируй промпт, который может решить запрос пользователя. Промпт тоже отправь вместе с id канала\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -220,
        -100
      ],
      "id": "bc623543-00d7-4977-95eb-044d3d78fd63",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "name": "open_and_close_tg",
        "description": "Ты должен пойти в этот инструмент если нужны данные с Телеграм каналов (закрытых или открытых)",
        "workflowId": {
          "__rl": true,
          "value": "n1paJYYM0EEA3YOy",
          "mode": "list",
          "cachedResultName": "Pars TG pars"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        220,
        240
      ],
      "id": "bf6c17c6-7e4f-462b-bd3e-bb194ae4608d",
      "name": "open and close tg"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        -100
      ],
      "id": "83ce5e63-4ff5-4158-9444-4ccfab1cd300",
      "name": "When chat message received",
      "webhookId": "1b906bb4-7eb4-4dd6-80b0-ca0d8e602426"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        220
      ],
      "id": "b94a6781-c8f7-42b6-acc6-ab09f72b9fcc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -380,
        220
      ],
      "id": "0fe606b6-7a5a-412c-b0c2-528be8116780",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FxKwCdrv9WP2ArDh",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "open and close tg": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8882c9cf-f72d-4fb0-b63b-d969bfcb9c63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e64f806ca5e87feaf2cd22bf873228348d3b02fdf477e2ae13651bb523123b57"
  },
  "id": "gYahdPfGEDhydvdo",
  "tags": [
    {
      "createdAt": "2025-05-14T20:44:57.094Z",
      "updatedAt": "2025-05-14T20:44:57.094Z",
      "id": "najthZB25ymAKTmw",
      "name": "lessons"
    }
  ]
}